.e-movie-content {
    height: 600px;
    margin-left: 30px;
    top: 216px;
    border-right: none;
    color: #fff;
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
  }
  
  .movie-title {
    display: flex;
    justify-content: center;
  }
  .e-movie-input {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .e-dropdown {
    box-sizing: border-box;
    width: 299px;
    height: 51.17px;
    left: 254.11px;
    top: 332.06px;
    background: rgba(13, 43, 80, 0.8);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
  }
  .e-dropdown select {
    box-sizing: border-box;
    width: 299px;
    height: 49px;
    left: 535.53px;
    top: 333px;
    color: white;
    background-repeat: no-repeat !important;
    background-position: right !important;
    background: #061f3e;
    border: 1px solid #f58220;
    border-radius: 1px;
    float: right;
  }
  .info {
    overflow: hidden;
  }
  
  .e-btn {
    width: 50%;
    height: 50px;
    background-color: #F58220 !important;
    font-family: 'Anybody';
    font-weight: bold;
    font-size: 22px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #FFFFFF !important;
    border: 2px solid #F58220;
    box-shadow: inset 0px 4px 6px 2px rgb(0 0 0 / 25%);
    border-radius: 17px;
}
  .e-input-dark {
    box-sizing: border-box;
    width: 299px;
    height: 50px;
    color: #FFFFFF;
    background: #061F3E;
    border: 1px solid #F58220;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}
.e-title{
    margin-top: 25px;
}
.e-address-desc {
  display: flex;
  margin-right: 60px;
  width: 88%;
  height: 60px;
  background: #061F3E;
  border: 1px solid rgba(245, 130, 32, 0.8);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  color: #ffffff;
}
  