<ng-template [ngIf]="movieList">
  <div *ngIf="movieList.length > 0; else emptyMovie">
    <div class="e-input-container">
      <h4 class="e-title">MOVİES</h4>
      <input
        type="text"
        formcontrolname="search"
        placeholder="Search a Movie"
        ng-reflect-name="search"
        ng-reflect-ng-class="[object Object]"
        class="e-input-white ng-untouched ng-pristine ng-invalid"
        [(ngModel)]="filterText"
      />
    </div>

    <div class="row">
      <div
        class="col-4"
        *ngFor="let m of movieList | filterMovie: filterText.toUpperCase()"
      >
        <app-movie-card [movie]="m"></app-movie-card>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #emptyMovie>
  <div>
    <app-not-found> </app-not-found>
  </div>
</ng-template>
