.title{
    margin-top: 1%;
}
.row{
    margin-top: 3%;
}
.e-input-white {
    width: 200px;
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #F58220;
    box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 17px;
    box-sizing: border-box;
    padding-left: 20px;
}
.e-input-container{
    display: flex;
    justify-content: space-between;
}
.e-title{
    color: #FFFFFF;
}