.e-info-title {
    width: 400px;
    height: 200px;
    margin-left: 100px;
    margin-top: 200px;
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  
  .e-title-container-info {
    display: flex;
    justify-content: space-between;
  }
  
  .verticalLine-info {
    position: absolute;
    width: 3px;
    height: 400px;
   margin-left: 50%;
   margin-top: 200px;
    background: #f58220;
    border-radius: 2px;
  }
  

  

