<div class="user-info-container">
  <div class="row m-3">
    <div class="col-9 d-flex align-items-center">
      <div class="col-3 p-0">
        <img class="image" src="../../../../../assets/img/Vector.png" alt="" />
      </div>
      <div class="dropdown">
        <button
          class="btn-user-info"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{ userName }}
        </button>

        <ul class="dropdown-menu">
          <li>
            <button class="dropdown-item" (click)="goToMyContent()">
              My Content
            </button>
          </li>
          <li>
            <button class="dropdown-item" (click)="goToContent()">
              Content
            </button>
          </li>
          <li>
            <button class="dropdown-item" (click)="goToUserDashboard()">
              User Dashboard
            </button>
          </li>
          <li>
            <button class="dropdown-item" (click)="logOut()">Log Out</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
