<div class="user-info-container">
  <div class="row m-3">
    <div class="col-9 d-flex align-items-center">
      <div class="col-3 p-0">
        <img class="image" src="../../../../../assets/img/Vector.png" alt="" />
      </div>
      <div class="dropdown">
        <button
          class="btn-user-info"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{ userName }}
        </button>

        <ul class="dropdown-menu">
          <ng-template [ngIf]="roleId == 2">
            <li>
              <button class="dropdown-item" (click)="goToMyContent()">
                My Content
              </button>
            </li>
          </ng-template>
          <ng-template [ngIf]="roleId == 3">
            <li>
              <button class="dropdown-item" (click)="goToContent()">
                All Content
              </button>
            </li>
          </ng-template>

          <ng-template [ngIf]="roleId == 3">
            <li>
              <button class="dropdown-item" (click)="goToUserDashboard()">
                User Dashboard
              </button>
            </li>
          </ng-template>
          <li>
            <button class="dropdown-item" (click)="logOut()">Log Out</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
