<div _ngcontent-pxb-c100="" class="form-group">
  <input
    _ngcontent-pxb-c100=""
    type="text"
    etiyainput="white"
    formcontrolname="search"
    placeholder="Search a Movie"
    ng-reflect-etiya-input="white"
    ng-reflect-name="search"
    ng-reflect-ng-class="[object Object]"
    class="e-input-white ng-untouched ng-pristine ng-invalid"
  />
</div>

<ng-template [ngIf]="categoryList">
  <div class="list-group">
    <button
      type="button"
      class="list-group-item list-group-item-action active"
      style="background-color: black"
      aria-current="true"
    >
      Categories
    </button>
    <div class="list-group" *ngFor="let ct of categoryList">
      <button
        type="button"
        (click)="getCategoryById(ct)"
        class="list-group-item list-group-item-action"
      >
        {{ ct.name }}
      </button>
    </div>
  </div>
</ng-template>

<button
  _ngcontent-pxb-c100=""
  type="submit"
  etiyabutton="login"
  ng-reflect-etiya-button="login"
  class="e-btn-login"
>
  ADD NEW MOVİE
</button>
