<div class="e-container">
  <div class="col-8">
    <app-info-title [infoTitle]="'WELCOME TO FILMAX'"></app-info-title>
  </div>
  <div class="e-form col-3">
    <h5 class="e-title">LOG IN</h5>
    <p class="e-form-text">Please enter your email and password</p>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div>
        <div class="form-group">
          <input
            [ngClass]="{ 'invalid-input': IsPropertyInvalid('email') }"
            type="text"
            class="e-input-white ng-untouched ng-pristine ng-invalid"
            formControlName="email"
            ng-reflect-name="email"
            ng-reflect-ng-class="[object Object]"
            placeholder="email"
          />

          <input
            [ngClass]="{
              'invalid-input': IsPropertyInvalid('password')
            }"
            type="password"
            class="e-input-white ng-untouched ng-pristine ng-invalid"
            formControlName="password"
            ng-reflect-name="password"
            ng-reflect-ng-class="[object Object]"
            placeholder="password"
            style="margin-top: 7px"
          />
        </div>
        <div>
          <button type="submit" (click)="login()" class="e-btn">LOG IN</button>
          <br />
          <button class="e-btn-signIn" routerLink="/register">SIGN IN</button>
        </div>
      </div>
    </form>
  </div>
  <p-toast></p-toast>
</div>
