/* .e-input-white {
    width: 80%;
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #F58220;
    box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 17px;
    box-sizing: border-box;
    padding-left: 20px;
}

.e-title{
    color: #FFFFFF;
}
.e-container{
    display: flex;
    justify-content: space-between;
}
.e-form{
    margin-top: 200px;
    margin-right: 10%;
}
.e-btn {
    width: 80%;
    height: 50px;
    background-color: #F58220 !important;
    font-family: 'Anybody';
    font-weight: bold;
    font-size: 22px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #FFFFFF !important;
    border: 2px solid #F58220;
    box-shadow: inset 0px 4px 6px 2px rgb(0 0 0 / 25%);
    border-radius: 17px;
    margin-top: 10%;
} */
@import 'primeflex/primeflex.css';  

.login-container {
  margin: 0px;
  min-height: 100vh;
  width: 100%;
  position: relative;
}
.e-btn {
 width: 80%;
 height: 50px;
 background-color: #F58220 !important;
 font-family: 'Anybody';
 font-weight: bold;
 font-size: 22px;
 line-height: 23px;
 letter-spacing: 0.06em;
 color: #FFFFFF !important;
 border: 2px solid #F58220;
 box-shadow: inset 0px 4px 6px 2px rgb(0 0 0 / 25%);
 border-radius: 17px;
 margin-top: 10%;
}
.e-input-white {
 width: 80%;
 height: 40px;
 background: #FFFFFF;
 border: 2px solid #F58220;
 box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
 border-radius: 17px;
 box-sizing: border-box;
 padding-left: 20px;
}

.e-form-text {
  font-family: 'Anybody';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  letter-spacing: 0.02em;
margin-top: 15px;
  color: #ffffff;

  opacity: 0.6;
}

::ng-deep .warn-toast .p-toast .p-toast-message .p-toast-icon-close {
  display: none;
}

::ng-deep .warn-toast .p-toast .p-toast-message .p-toast-icon-close:hover {
  display: none;
}

.invalid-input {
  border-color: red;
}

.invalid-input::placeholder {
  color: red;
}
.e-btn-logIn{
  background-color: #242440;
  border: none;
  color: #ffffff;
  margin-left: 22px;
  text-decoration: underline;
}
.e-container{
  display: flex;
  justify-content: space-between;
}
.e-title{
color: #FFFFFF;
}

.e-form{
margin-top: 300px;
margin-right: 10%;
}
.e-register-container{
  align-items: center;
  display: flex;
}
