.e-dropdown {
    box-sizing: border-box;
    width: 100px;
    height: 51.17px;
    left: 254.11px;
    top: 332.06px;
  
    border-radius: 2px;
  }
  .e-btn-remove{
    background: url("../../../../../assets/img/Remove.png");
    width: 45px;
    height: 51px;
  }
  .e-select{
    background-color: #2A5183;
    color: aliceblue;
  }
  .e-btn-accept{
    background: url("../../../../../assets/img/aa.PNG");
    width: 45px;
    height: 51px;
    background-size: cover;
  }
  .e-form-text {
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 21px;
    letter-spacing: 0.02em;
  height: auto;
    color: #ffffff;
  
    opacity: 0.9;
  }
  .e-warning-img{
    background-image: url("../../../../../assets/img/warning.PNG");
    width: 30px;
    height: 30px;
    background-size: cover;
  }
  .warning{
    justify-content: center;
    display: flex;
    align-items: center;
  }