.e-dropdown {
    box-sizing: border-box;
    width: 299px;
    height: 51.17px;
    left: 254.11px;
    top: 332.06px;
    background: rgba(13, 43, 80, 0.8);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
  }