.e-dropdown {
    box-sizing: border-box;
    width: 100px;
    height: 51.17px;
    left: 254.11px;
    top: 332.06px;
  
    border-radius: 2px;
  }
  .e-btn-remove{
    background: url("../../../../../assets/img/Remove.png");
    width: 45px;
    height: 51px;
  }
  .e-select{
    background-color: #2A5183;
    color: aliceblue;
  }
  .e-btn-accept{
    background: url("../../../../../assets/img/aa.PNG");
    width: 45px;
    height: 51px;
    background-size: cover;
  }